# Fichiers à exclure du versionnement Git

# OS
.DS_Store
Thumbs.db

# Node.js
node_modules/
npm-debug.log*

# Variables d'environnement (JAMAIS de secrets sur Git)
.env
.env.local
.env*.local

# Flutter / Dart build
build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
*.dill

# IDE
.idea/
.vscode/
*.code-workspace

# Archives
archive/
*.zip
*.tar.gz
