# .env.example — Template sans valeurs (à commiter sur Git)
DATABASE_URL=""
STRIPE_SECRET_KEY=""
STRIPE_PUBLISHABLE_KEY=""
STRIPE_WEBHOOK_SECRET=""
CLOUDINARY_CLOUD_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""
RESEND_API_KEY=""
EMAIL_GERANT=""
NODE_ENV="development"
PORT=3000
CORS_ORIGIN="http://localhost:5500"
JWT_SECRET=""
